# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/

# Environment Variables (Keep secrets safe!)
.env

# Media (User uploads shouldn't go to git)
media/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/